<h1>Welcome to Scrabble</h1>
  <form action="/scrabble">
    <div class="form-group">
       <label for="scrabble">What would you like to scrabble?
  </label>
       <input id="scrabble" name="scrabble" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
  
